<!DOCTYPE html>
<html>
    <head>
        <title>Weather App</title>
        <link rel="icon" type="image/png" href="http://icons.iconarchive.com/icons/iynque/ios7-style/1024/Weather-icon.png">
    </head>
    <body>
        <h3>{{errorMessage}}</h3>
    </body>
</html>