<!DOCTYPE html>
<html>

<head>
    <title>Weather App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="icon" type="image/png" href="http://icons.iconarchive.com/icons/iynque/ios7-style/1024/Weather-icon.png">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p class="text" style="font-size: 24px;">Hi! I am Seryoja. I am MERN Stack developer and I am super excited you are here</p>
        <img class="portrait"
            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.7nxOmWp_YJOxNAQBQkFtiwHaFS%26pid%3DApi&f=1">
    </div>
    {{>footer}}
</body>

</html>